<div class="contact-box">
    <form action="" method="post">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" placeholder="First Name">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" placeholder="Last Name">
        <label for="email">Email</label>
        <input type="Email" id="email" name="email" placeholder="Email">
        <label for="msg">Message</label>
        <textarea rows="5" cols="10" placeholder="Enter your Message Here"></textarea>
        <button class="btn btn-warning">Submit</button>
    </form>
</div>