<div class="d-flex h-50 align-items-center flex-column justify-content-center">
    <h1 class="w-75 text-center mx-auto mt-5">{{msg}}</h1>
    <a href="/" class="mt-5"><button class="btn btn-primary">Home</button></a>
</div>